.footer {
    border-top: 1px solid #dcdcdc;
    padding: 20px 0px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #888888;
    width: 100vw;
    position: absolute;
    bottom: 0;
}